.headerContainer{
   
    background: white;
    margin: auto;
    
    width: 100%;
    box-shadow: 0px 5px 9px 2px rgba(0 0 0 / 14%);
    position:fixed;
    top: 0;
    z-index: 10;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1300px;
        width: 100%;
        margin: auto;
        min-height:65px;
    }
}
