.side2Container{
    background-color: white;
    z-index: 1;
   opacity: 0.97;
   overflow: hidden;
     @media only screen  and (max-width:800px) {
         max-width:100%;
         margin-left: 9px;
         margin-right: 9px;
         margin-top: 0px;
     }
     box-shadow: 3px 10px 20px 10px #ccc;
     padding: 3% 5%;
     box-sizing: border-box;
     margin-top: 15%;
     max-width: 72%;
     width: 100%;
     
     border-radius: 10px;
     margin-right: 1%;
     margin-bottom: 13%;
     &__part2{
         margin-top: 65px;
         width: 100%;
         position: relative;
     }
     &__description{
         margin-bottom: 22px;
     }
     &__p{
         color:grey;
         color:darken($color:grey, $amount: 15);
     }
  }