.navbar{
    @media only screen and  (max-width:800px){
        display: none ;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        margin-right: 9.5rem;
    }
     
       @media only screen and (min-width: 801px){
           display: flex;
      
           max-width: 35%;
           width: 100%;
    
           justify-content: space-around;
           align-items: center;
           margin-right: 9.5rem;
       }
}

.navbarShow{
      display: flex;
}
