@import '../../../../../../../ScssVariables.scss/ScssVariables.scss';

.party2__body__title2{
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.hrLine{
    margin-top: 10px;
    margin-bottom: 10px;
}
.entryContainer{
    border-left: solid $mygrey 2px;
    padding-top: 15px;
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 60px;
}
.entry{
    border: solid $mygrey  2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 30px;
    margin-bottom: 50px;
    position: relative;
   transition: all 0.5s ease;
    &:hover{
        box-shadow:0px 10px 6px 5px rgb(0 0 0 / 30%);
    }

    &__h4{
        margin-bottom: 20px;
    }
    &__p{
        font-size: 13px;
        letter-spacing: 0.7;
        max-width: 700px;
    }
    &__a{
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover{
            color: blue;
        }
        &::after{
         
            content: " ";
            height: 3px;
            max-width: 130px;
            width: 100%;
            border-radius: 20px;
            position: absolute;
            left: 20px;
            top: 60px;
            background: $myblue;
            transition: all 0.3s ease;
            transform-origin: left;
            transform: scale(0,1) ;
        }
        &:hover::after{
            transform: scale(2,1);
        }
    }
    &__schoolBlock{
        font-size: 13px;
        letter-spacing: 0.7;
        display: flex;
     
    }
    &__schoolTime{
        color: $myblue;
    }
    &__school{
        // border-left: solid $mygrey;
        padding-left:10px ;
        margin-left: 10px;
        color: lighten($myword,30%);
    }
    &__img{
        max-width: 80px;
    }
}

.lastEntry{
  margin-bottom: 15px;
}
.education{
    display: flex;
    justify-content: space-between;
}