.contactContainer{
    min-height: 1000px;
}

textarea:focus, input:focus {
    outline: none;
}

.form{
   width: 100%;
   display: flex;
   flex-direction: column;
    margin-top: 35px;
    position: relative;
}

.textarea{
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    height: 47px;
    background:#ecf0f1;
    border: none;
    margin: 8px 0px;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 50px;
    
}
.formicon{
    font-size: 20px;
    color: #8697a8;
    position: relative;
    bottom: -47px;
    right: -20px;
}
.label{
    color:  #585858;
    font-size: 13px;
    position: relative;
    bottom: -41.2px;
    right: -25px;
    transition: all 0.3s ease;
}
.moveOut{
    bottom: 0px;
    right : 0px;
    color: blue;
}
.moveIn{
    bottom:"-41.2px";
    right:"-25px";
    color:"#585858";
}
.reset{
    bottom: 0px;
    right: 0px;
}
.messagetextArea{
    min-height: 230px;
    padding: 11px 45px;
}
.words{
    margin-top: 20px;
}
.span::before{
    content: "";
        height:45px;
        width: 110%;
        position: absolute;
        left: 0;
        bottom: -7px;
        background-color: rgba(34,148,245,.55);
       // background-color: greenyellow;
        transform: scale(0,1);
        transform-origin: left;
        transition: all 0.4s ease;
        z-index: 0;
}
.span::after{
    content: "";
    height:45px;
    width: 110%;
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color: rgba(34,148,245,.55);
    //background-color: greenyellow;
    transform: scale(0,1);
    transform-origin: right;
    transition: all 0.4s ease;
    z-index: 0;
}

.formButton{
    margin-top: 20px;
    min-height: 40px;
    border-radius: 10px;
    border: 1px solid #00adef;
    color:#00adef;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 2;
    &:hover{
      color: white;
      border:white;
     }
    &::before{
        content: "";
        height:45px;
        width: 101%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(34,148,245,.55);
        transform: scale(0,1);
        transform-origin: left;
        transition: all 0.4s ease;
        transition-delay: 0.2s;
        z-index: 0;
    }
    &:hover::before{
        transform: scale(1,1);
    }
    &::after{
        content: "";
        height:50px;
        width: 110%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(34,148,245,.55);
        transform: scale(0,1);
        transform-origin: right;
        transition: all 0.4s ease;
        transition-delay: 0.2s;
        z-index: 0;
    }
    &:hover::after{
        transform: scale(1,1);
    }
 }

.span{
    width: 100%;
    height: 100%;
    position: relative;
}
.send{
    position: relative;
    z-index: 10;
}
.span:hover::before{
    transform: scale(1,1);
}
.span:hover::after{
    transform: scale(1,1);
   }

.gamesContainer{
    @media only screen and  (max-width:800px){
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 150px;
    }
}
