@import "../../../ScssVariables.scss/ScssVariables.scss";
.gamesContainer{
    @media only screen and  (max-width:800px){
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 150px;
    }
}
.drumSection{
    margin-top:10%;
}
.drumbody {
    opacity: 0.9;
    background-color: #283149;
    width: 100%;
    min-height: 900px;
    margin-top: 70px;
  }
  
  #drumh1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    text-align: center;
  }
  

  
  .w {
    background-image: url("./images/tom1.png");
  
  }
  
  .a {
    background-image: url("./images/tom2.png");
  }
  
  .s {
    background-image: url("./images/tom3.png");
  }
  
  .d {
    background-image: url("./images/tom4.png");
  }
  
  .j {
    background-image: url("images/snare.png");
  }
  
  .k {
    background-image: url("images/crash.png");
  }
  
  .l {
    background-image: url("images/kick.png");
  }
  
  .set {
    margin: 10% auto;
    display: none;
    flex-wrap: wrap;
  }
  .show{
    display: flex;
  }
  .nonShow{
    display: none;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }

 
 .skillIcons__text{
     width: 100%;
     margin-top: 40px;
     font-size: 1rem;
     color:#5a5a5a;
     font-weight: 700;
     justify-content: center;
 }

 .games{
     width: 100px;
     min-height: 1000px ;
 }

 .gameButton{
     margin-top: 30px;
     font-size: 20px;
     color: $myword;
     text-align: center;
     border: solid 1px;
     border-radius: 10px;
     height: 55px;
     line-height: 55px;
     margin-top: 50px;
     overflow: hidden;
     position: relative;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 110%;
            width: 150%;
            background-color: $myblue;
            z-index: 0;
            transform-origin: right;
            transition: all 0.7s ease;
            transform: scale(0,1) skewX(-45deg);
            z-index: 0;
        }
        &:hover::after{
            transform: scale(1.3,1) skewX(-45deg);
            z-index: 0;
        }
     &__a{
        text-decoration: none;
        transition: all 0.5s ease;
        position: relative;
        z-index: 1;
        
     &:hover{
         color: white;
       z-index: 1;
     } 
    }
 }
