

@keyframes snow{
    0%{
        background-position: 0 0, 0 0;
    }
    100%{
        background-position: 500px 500px, 1000px 500px;
    }
    }
    .snowEffect{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../../assets/snowlittle1.png), url(../../assets/snowlittle2.png);
        animation: snow 5s  infinite linear;
        pointer-events: none;
        z-index: 0;
    }